.idea/
data/
app/content/themes/default/templates_compiled/
.ssh/
coin-svc/node_modules
coin-svc/.runcache
coin-svc/purse.json
/coin-svc/dist
/coin-svc/cache
app/includes/config.php
app/includes/libs/HTMLPurifier/HTMLPurifier/DefinitionCache/Serializer/HTML/
app/content/uploads/photos
app/content/uploads
dump.sql
app/includes/.cache-buster
app/error.log
poc
/cache
/splunk
