.idea/
data/
app/content/themes/default/templates_compiled/
.ssh/
coin-svc/node_modules
coin-svc/.runcache
coin-svc/purse.json
/coin-svc/dist
app/includes/config.php
app/includes/libs/HTMLPurifier/HTMLPurifier/DefinitionCache/Serializer/HTML/
app/content/uploads/photos
